<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón "Volver" para regresar a la página anterior -->
      <ion-back-button defaultHref="/home-alumno"></ion-back-button>
    </ion-buttons>
    <ion-title>
     CONDUCTOR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <h1>Bienvenido {{ alumno?.nombre }}</h1> <!-- Accedemos a la propiedad 'nombre' del objeto 'alumno' -->
  </ion-item>
  <ion-item>
    <ion-button expand="block" color="success" [routerLink]="['/perfil-chofer']" [state]="{ user: alumno }" fill="outline">Perfil</ion-button>
  </ion-item>
  <ion-item>
    <ion-button expand="block" color="success" [routerLink]="['/mis-viajes-chofer']" fill="outline">Mis Viajes</ion-button>
  </ion-item>
  <ion-item>
    <ion-button expand="block" color="success" [routerLink]="['/viaje-ruta-chofer']" fill="outline">Viaje En Ruta</ion-button>
  </ion-item>
</ion-content>