<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón "Volver" para regresar a la página anterior -->
      <ion-back-button defaultHref="/home-chofer"></ion-back-button>
    </ion-buttons>
    <ion-title>
MIS VIAJES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">misViajesChofer</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>