<ion-content class="container" [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title id="title">
        Inicio de sesión
      </ion-title>
      <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 150px;">
        <img id="logo" src="/assets/logo.png" alt="" style="margin-top: 25px; margin-bottom: 30px;">
      </div>
    </ion-toolbar>

  </ion-header>

  <form [formGroup]="alumno">
    <ion-item>
      <img id="user" src="/assets/user.png" alt=""style="margin-top: -20px; margin-bottom: -10px;">
    </ion-item>
    <ion-item class="custom-input">
      <ion-input formControlName="rut" id="rut-alumno" placeholder="{{textRut}}"></ion-input>
    </ion-item>
    
    <ion-item class="custom-input">
      <ion-input type="password" formControlName="pass" id="pass-alumno" placeholder="{{textPass}}"></ion-input>
    </ion-item>
    
    

    <ion-button expand="block" color="success" fill="outline" (click)="inicio()">{{ingresar}}</ion-button>

    <ion-item>
      <p>¿Olvidó su Contraseña?</p> <a [routerLink]="['/restablecer']" id="olvido">Restablecer</a>
    </ion-item>
  </form>

  <!-- Div del auto para la animación -->
  <div class="car-animation" *ngIf="loading">
    <!-- Este div representa el auto y se moverá según la animación CSS -->
  </div>
</ion-content>









