<ion-content class="container" [fullscreen]="true">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón "Volver" para regresar a la página anterior -->
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      404 NOTFOUND
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-item>
    <img id="user" src="/assets/error404.png" alt=""style="margin-top: 20px; margin-bottom: -10px;">
  </ion-item>
</ion-content>