<ion-content class="container" [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title id="title">
        Perfiles
      </ion-title>
    </ion-toolbar>
  </ion-header>
<br>
  <div id="welcome-message">
    Bienvenido 
  </div>

  <div id="container">
    <ion-button expand="block" color="success" (click)="ingresarComoAlumno()">Ingresar como Alumno</ion-button>
    <ion-button expand="block" color="success" (click)="ingresarComoChofer()">Ingresar como Chofer</ion-button>
  </div>
</ion-content>

