<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón "Volver" para regresar a la página anterior -->
      <ion-back-button defaultHref="/home-alumno"></ion-back-button>
    </ion-buttons>
    <ion-title>
     PERFIL ALUMNO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
  <h4>Nombre: {{ alumno?.nombre }}</h4>
</ion-item>
<ion-item>
  <h4>Rut: {{ alumno?.rut }}</h4>
</ion-item>
<ion-item>
  <h4>Correo:{{ alumno?.correo }}</h4>
</ion-item>
<ion-item>
  <h4>Teléfono:{{ alumno?.telefono }} </h4>
</ion-item>


</ion-content>
