<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón "Volver" para regresar a la página anterior -->
      <ion-back-button defaultHref="/home-alumno"></ion-back-button>
    </ion-buttons>
    <ion-title>
     PERFIL ALUMNO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
  <p>Nombre: </p>
</ion-item>
<ion-item>
  <p>Apellido: </p>
</ion-item>
<ion-item>
  <p>Rut: </p>
</ion-item>
<ion-item>
  <p>Correo: </p>
</ion-item>
<ion-item>
  <p>Teléfono: </p>
</ion-item>


</ion-content>
